.page{
    display: grid;
    background:#9C835F;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: 100%;
}
ul{
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    background-color: #9C835F;
}
li{
    float:left;
    text-emphasis: center;
    text-decoration: none;
}
h1{
    background-color:#9C835F;
    font-size: 2rem;
    text-align: center;
}

/*Grid Settings*/
.grid-container{
    display: grid;
    grid-template-columns: auto 10rem auto; 
    gap: 10px;
    padding: 2em;
}

.grid-items{
    text-align: center;
    color: white;
}

button{
    background-color: #9c835f;
    border: none;
    border-radius: 8px;
    width: 8rem;
    height: 8rem;
    padding:0.5rem;
    margin: 1rem;
}

/*Rectangle*/
.rectangle{
    position: absolute;
    width: 271.11px;
    height: 166.93px;
    left: 561px;
    top: 489.89px;
    
    background: #4C9654;
    border-radius: 10px;
    transform: rotate(-28.87deg);
}

/* player 1win */
.player1win{
    position: absolute;
    width: 296px;
    height: 186px;
    left: 568px;
    top: 525.37px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 52px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: #FFFFFF;

    transform: rotate(-30.98deg);
}

/* COM WIN */
.comwin{
    position: absolute;
    width: 296px;
    height: 186px;
    left: 568px;
    top: 525.37px;
    
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 52px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    
    color: #FFFFFF;
    
    transform: rotate(-30.98deg);
}

/* refresh 2 */
.refresh{
    position: absolute;
    width: 77px;
    height: 71px;
    left: 704px;
    top: 853px;
    
    background: url(refresh.png);
}